@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('reset.css');
@import './mixin';

$koreanText : 'Noto Sans KR', sans-serif;
$whiteOpac: rgba(255, 255, 255, 0.2);

body {
    width: 100%;
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
    
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 950px;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: hsl(0, 0%, 80%);
        }

        to {
            border-right-color: transparent;
        }
    }

    h1 {
        font-size: 6.25rem;
        font-weight: 100;
        position: relative;
        color: hsl(0, 0%, 68%);
        overflow: hidden;
        border-right: 2px solid hsl(0, 0%, 80%);
        white-space: nowrap;
        animation: typewriter 2s steps(18) 1s 1 normal both,
            blinkTextCursor 800ms infinite;
        @include oneK {
            font-size: 3.25rem;
            @keyframes typewriter {
                from {
                    width: 0;
                }
                to {
                    width: 500px;
                }
            }
        }
        @include mobile{
            font-size: 1.8rem;
            @keyframes typewriter {
                from {
                    width: 0;
                }
                to {
                    width: 280px;
                }
            }
        }
    }


    h2 {
        color: white;
        font-size: 3.75rem;
        font-weight: 100;
        text-decoration: line-through;
        text-decoration-thickness: 1px;
        text-align: center;
        margin: 150px auto 70px;
        @include oneK{
            font-size: 2.5rem;
            margin: 100px auto 50px;
        }
        @include mobile{
            font-size: 2rem;
        }

    }
    h4 {
        color: white;
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        @include oneK{
            font-size: 1rem;
        }
        @include mobile{
            font-size: 0.8rem;
        }
    }

    p {
        color: white;
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
        opacity: 0.7;
        
        @include mobile{
            font-size: 0.8rem;
        }
    }

    .section {
        width: 80%;
        margin: 0 auto;
        @include oneK {
            width: 90%;
        }

    }

    #root {
        header {
            width: 100%;
            position: fixed;
            z-index: 2;

            nav {
                width: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 65%;
                @include oneK{
                    margin-left: 50%;
                    width: 20%;
                }
                @include mobile{
                    margin-left: 23%;
                    margin-right: 23%;
                }

                >div {
                    .logo {
                        position: absolute;
                        top: 30px;
                        left: 50px;
                        width: 5%;
                        @include oneK{
                            >img{
                                width: 80px;
                            }
                        }
                        @include mobile{
                            >img{
                                width: 60px;
                            }
                            top: 10px;
                            left: 15px;
                        }
                    }
                }

                >a {
                    margin: 20px;
                    padding: 10px 20px;
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    @include oneK{
                        padding: 5px;
                    }
                    @include mobile {
                        margin: 10px;
                    }
                }

                >a:link {
                    text-decoration: none;
                }

                >a:hover {
                    background-color: white;
                    color: black;
                    border-radius: 5px;
                    
                }
            }
        }

        main {
            width: 100%;
            position: relative;

            .downarrow {
                >img{

                    position: absolute;
                    bottom: 50px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 80px;
                    height: 80px;
                    z-index: 2;
                    @include oneK{
                        width: 50px;
                        height: 50px;
                    }
                    @include mobile{
                        width: 30px;
                        height: 30px;
                    }
                }

            }
            .main {
                position: relative;

                >img {
                    width: 100%;
                    height: 100vh;
                    @include mobile{
                        height: 60vh;
                    }
                }

                .margin {
                    width: 80%;

                    .main-title {
                        width: 100%;
                        position: absolute;
                        top: 25%;
                        @include absolPos;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        @include oneK{
                            top: 35%;
                        }

                        >h1 {
                            margin-bottom: 50px;
                        }

                        >div {
                            font-family: $koreanText;
                            width: 220px;
                            text-align: center;
                            border-radius: 60px;
                            padding: 15px 20px;
                            color: white;
                            font-size: 1.25rem;
                            opacity: 0.8;
                            margin: 30px;
                            @include oneK {
                                width: 130px;
                                font-size: 1rem;
                                margin: 0;
                                padding: 10px 0;
                            }
                            @include mobile{
                                font-size: 0.8rem;
                            }

                            .adj-ani {
                                transition: smooth;
                            }

                            >p {
                                color: white;
                                opacity: 1;
                                font-weight: 500;
                                font-size: 1.25rem;
                                @include oneK {
                                    font-size: 1rem;
                                }
                                @include mobile{
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }

            .about {
                .about-box {
                    width: 100%;
                    border: 1px solid $whiteOpac;
                    border-radius: 30px;
                    @include oneK{
                        padding: 30px;
                    }

                    .quote-box {
                        >h4 {
                            margin: 100px auto 50px;
                            width: 60%;
                            @include oneK{
                                margin: 30px auto 40px;
                            }
                        }

                        >p {
                            font-family: $koreanText;
                            width: 70%;
                            margin: 0 auto;
                        }
                    }

                    .edu-box {
                        color: white;

                        >h4 {

                            margin: 100px auto 50px;
                            @include mobile{
                                margin: 50px auto 30px;
                            }
                        }

                        .table-box {
                            table {
                                width: 80%;
                                margin: 0 auto 100px;
                                border-collapse: collapse;
                                @include mobile {
                                    font-size: 0.8rem;
                                }
                                tbody {

                                    tr,
                                    th,
                                    td {
                                        border: 1px solid $whiteOpac;

                                        th {
                                            border-left: hidden;
                                            font-weight: 100;
                                        }

                                        td:nth-of-type(1) {
                                            padding: 20px 80px;
                                            opacity: 0.7;
                                            @include pad {
                                                padding: 15px 20px;
                                            }
                                        }

                                        td:nth-of-type(2) {
                                            text-align: center;
                                            border-right: hidden;
                                            opacity: 0.7;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

            .skills {
                .skill-head {
                    >p {
                        font-family: $koreanText;
                    }
                }

                .skill-box {
                    border: 1px solid $whiteOpac;
                    border-radius: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-wrap: wrap;
                    padding: 100px 150px;
                    margin: 30px auto 150px;
                    @include oneK {
                        padding: 20px;
                        justify-content: space-evenly;
                    }

                    .each-skill {
                        width: 20%;
                        margin: 20px;
                        @include oneK {
                            width: 27%;
                        }
                        @include mobile{
                            width: 30%;
                            margin: 10px auto;
                        }

                        .logo-box {
                            width: 25%;
                            margin-bottom: 15px;

                            >img {
                                width: 100%;
                            }
                        }

                        >div {
                            width: 100%;

                            >span {
                                font-size: 1.25rem;
                                font-weight: 700;
                                color: white;
                                @include mobile {
                                    font-size: 0.9rem;
                                }
                            }

                            >p {
                                text-align: left;
                                font-family: $koreanText;
                            }
                        }
                    }
                }
            }

            .contact {
                position: relative;

                >img {
                    width: 100%;
                    opacity: 0.7;
                    height: 100vh;
                }

                .contact-content {
                    position: absolute;
                    top: 0;
                    @include absolPos;

                    .contact-head {
                        >h2 {
                            margin-top: 80px;
                        }
                    }

                    .contact-box {
                        border: 1px solid $whiteOpac;
                        border-radius: 30px;
                        margin: 100px auto;

                        .contact-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            @include mobile {
                                flex-direction: column;
                            }

                            >figure {
                                width: 25%;
                                margin: 80px auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border-right: 1px solid $whiteOpac;
                                @include oneK{
                                    width: 20%;
                                    border-right: none;
                                    margin: 60px auto;
                                }
                                @include mobile{
                                    width: 35%;
                                    margin: 30px auto;
                                    border-bottom: 1px solid $whiteOpac;
                                    padding-bottom: 30px;
                                    
                                }
                                >a{
                                    display: flex;
                                    >img {
                                        margin: 0 auto 60px;
                                        width: 100%;
                                        @include oneK{
                                            width: 80%;
                                            margin: 0 auto;
                                        }
                                    }
                                }

                                >figcaption {
                                    >p {
                                        padding: 20px 0;
                                        text-align: left;
                                    }
                                }
                            }

                            >figure:nth-of-type(4) {
                                border: none;
                            }
                        }
                    }
                }

                .toProjectPage {
                    >a {
                        width: 200px;
                        position: absolute;
                        bottom: 50px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        background-color: $whiteOpac;
                        border-radius: 5px;
                        padding: 5px 20px;
                        color: white;
                        font-size: 1.25rem;
                        text-align: center;
                        @include oneK {
                            bottom: 100px;
                        }
                        @include mobile {
                            display:none;
                        }
                    }

                    >a:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }

            .project {
                width: 100%;

                .project-main {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    @include absolPos;

                    .mySwiper {
                        width: 100%;
                        height: 100vh;
                        .swiper-button-prev{
                            color: white;
                            margin: auto 20px;
                        }
                        .swiper-button-next{
                            color: white;
                            margin: auto 20px;
                        }
                        .each-slide {
                            >img {
                                width: 100%;
                                height: 100vh;
                                @include mobile{
                                    width: 1920px;
                                    align-content: center;
                                }
                            }

                            >p {
                                font-family: 'Titillium Web', sans-serif;
                                position: absolute;
                                top: 41%;
                                left: 0;
                                right: 0;
                                color: white;
                                font-weight: 700;
                                opacity: 1;
                                text-align: center;
                                font-size: 6rem;
                                @include pad{
                                    top: 27%;
                                }
                                @include mobile{
                                    top: 30%;
                                    font-size: 3.5rem;
                                }

                            }

                            .project-button {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                top: 60%;
                                @include absolPos;
                                font-size: 1.5rem;

                                .to-info-button {
                                    font-weight: 600;
                                    color: white;

                                    >img {
                                        width: 35px;
                                        height: 17px;
                                    }
                                }
                            }

                            .length {
                                position: absolute;
                                bottom: 50px;
                                left: 10%;
                                font-size: 6rem;
                                font-weight: 700;
                                color: white;
                                @include mobile{
                                    font-size: 3.5rem;
                                    bottom: 100px;
                                    left: 40%;
                                }
                            }
                        }
                        .swiper-pagination-bullet-active {
                            background: aliceblue;

                        }
                    }

                }
            }

            .project-info {
                width: 100%;
                position: relative;

                .project-content {

                    margin: 0 auto;
                    position: relative;

                    .project-title {
                        .banner {
                            height: 400px;
                            overflow: hidden;
                            @include pad{
                                height: 250px;
                            }
                            @include mobile{
                                height: 200px;
                            }

                            >img {
                                width: 100%;
                                opacity: 0.7;
                            }

                        }

                        >h2 {
                            @include pad{
                                margin-top: 10px;
                            }
                        }
                        >h4{
                            @include pad {
                                width: 80%;
                                margin: 0 auto;
                            }
                        }
                    }

                    .sect {
                        width: 100%;
                        margin-bottom: 100px;

                        .descript-center {
                            margin: 100px auto;
                            width: 40%;
                            @include oneK{
                                width: 60%;
                                margin: 40px auto;
                            }
                        }

                        .project-descript {

                                .info-title {
                                    margin-bottom: 30px;
                                }

                                >p {
                                    word-break: keep-all;
                                    text-indent: 20px;
                                    padding: 10px;
                                }
                                .gitty{
                                    border: 1px solid rgba(255, 255, 255, 0.2);
                                    width: 180px;
                                    border-radius: 5px;
                                    margin: 0 auto;
                                    @include mobile{
                                        width: 130px;
                                        >img{
                                            width: 30px;
                                        }
                                    }
                                }
                            

                        }

                        .image-cluster {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            margin: 0 auto;

                            >img {
                                width: 40%;
                                margin-bottom: 40px;
                                margin: 0 auto;
                                @include oneK{
                                    width: 60%;
                                }
                            }
                        }
                    }

                    .btn {
                        position: absolute;
                        bottom: 0;
                        right: 8%;
                        @include oneK {
                            bottom: -50px;
                            right: 10%;
                        }
                        .to-site-button {
                            font-weight: 600;
                            font-size: 2rem;
                            color: white;
                            @include pad {
                                font-size: 1.5rem;
                            }

                            >img {
                                width: 35px;
                                height: 17px;
                            }
                        }
                    }
                }

            }
        }

    }
}